*{
    box-sizing: border-box;
}

body,html{
    background-color: #FDEEDD;
    height: 95%;
}

.flex_container{
    height: 99%;
    width: 99%;
    display: flex;
    flex-direction: row;
}

.grid-container{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 1em;
    margin-top: 1%;
    height: 100%;
}

#main_content{
    height: 100%;
    width: 100%;
    flex: 3;
    display: flex;
    flex-direction: column;
}



#title{
    background-color: #fff;
    font-family:'Sofia Sans Semi Condensed', sans-serif;
    color:  #000f08;
    text-align: center;
    border-radius: 10px;

    flex: 2;
    border: 2px solid #606c38;
    display: flex;
    align-items: center;
    justify-content: center;
}

#h1_id{
    text-decoration-line: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2.5px;
    margin: 0%;
    padding: 3%;
    font-size: 3em;
}

.background-graph{
    margin-top: 1em;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #606c38;
    flex: 10;
}

#controls{
    height: 100%;
    width:100%;
    flex: 2.1;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;

    border: 2px solid #606c38;
}

.control-buttons{
    padding: 1%;
    padding-top: 0%;
    margin-top: 0%;
    width: 100%;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 60px;

    margin:0%;

}

.button{
    font-family: 'Roboto Mono', monospace;
    background-color: #f8f0e7;
    width: 50%;
    border:  1.5px solid #BC6C25;
    border-radius: 5px;
    font-size: 100%;
    padding: 10px 5px;
    cursor: pointer;
}


.button_start:hover{
    outline: 1px solid #BC6C25;
}

.next_button{
    /*Get other part of family for more thicker font*/
    width: 40%;
    margin-left: 20px;
}

.next_button:hover{
    outline: 1px solid #BC6C25;
}

.back_button{
    /*Get other part of family for more thicker font*/
    width: 40%;
    margin-right: 20px;
}

.back_button:hover{
    outline: 1px solid #BC6C25;
}

.inputs{
    padding: 1%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.inputs-label{
    font-family:'Roboto Mono', monospace;
    margin-right: 1%;
    padding: 1%;
    font-size: 14px;

}

.inputs-box{
    padding: 1%;
    margin-right: 1%;
    flex: 2;
}

.submit-button{
    margin:0%;
    padding: 0%;
    flex: 1;
    width: 20%;

    min-height: 24px;
    margin-top: 2%;
}


#ham-path{
    justify-content: center;
}
.details{
    font-family:'Roboto Mono', monospace;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.current-path{
    font-family:'Roboto Mono', monospace;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-wrap: anywhere;
    text-align: center;
}

.finish-button{
    padding: 1%;
    padding-top: 0%;
    margin-top: 0%;
    width: 100%;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 60px;

    margin:0%;
}

#finish{
    width: 40%;
    margin-right: 20px;
}

#finish:hover{
    outline: 1px solid #BC6C25;
}

#restart{
    width: 40%;
    margin-left: 20px;
}

#restart:hover{
    outline: 1px solid #BC6C25;
}

.random{
    font-family:'Roboto Mono', monospace;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}

.choices{
    margin-top: 20px;
    font-family:'Roboto Mono', monospace;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}

#own-input{
    width: 40%;
    margin-right: 20px;
}

#own-input:hover{
    outline: 1px solid #BC6C25;
}

#random-input{
    width:40%;
    margin-left: 20px;
    height: 70px;
}

#random-input:hover{
    outline: 1px solid #BC6C25;
}

.table{
    margin-top: 20px;
    font-family:'Roboto Mono', monospace;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    table-layout: auto;
    width: 100%;  
}
.experiment-buttons{
    margin-top: 20px;
    font-family:'Roboto Mono', monospace;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    
}

.results{
    margin-top: 20px;
    font-family:'Roboto Mono', monospace;
    /* width: 100%;
    display: flex;
    flex-wrap: wrap; */
    justify-content: center;
    text-align: center;
    table-layout: auto;
    width: 95%; 
}

table, th{
    border: 2px solid #606c38;
    border-collapse: collapse;
    
}

td{
    border-left: 2px solid #606c38;
    
}

#adding-exp{
    width:40%;
    margin-right: 20px;   
}
#adding-exp:hover{
    outline: 1px solid #BC6C25;
}

#restarting-exp{
    width:40%;
    margin-left: 20px;
}

#restarting-exp:hover{
    outline: 1px solid #BC6C25;
}

.green{
    background-color: #89E773;
}
.yellow{
    background-color: #FFCE0A;
}

.orange{
    background-color: #F79646;
}

.red{
    background-color: #DE3C4B;
}


.hidden{
    display: none;
}